# Problem Statement
Makueni is experiencing an epidemiological transition in its diseases burden from communicable to non-communicable conditions resulting in the double burden of disease. In Makueni County, according to DHIS 2018, cases of hypertension recorded were 78,572 compared to 2017 cases recorded at 50,522 while diabetes cases in 2018 recorded were 21,426 compared to 12,609 in 2017.
Management of related complications costs are alarming when considering any emergency aspects, the management of complications as well as rehabilitation costs.

# Importing Libraries:
-For completing any task we require tools, and we have plenty of tools in python. Let’s start with importing the required libraries.

In [7]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\ken bwire\anaconda3\lib\site-packages (0.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: imbalanced-learn in c:\users\ken bwire\anaconda3\lib\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ken bwire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ken bwire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ken bwire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\ken bwire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.2)
Requirement already satisfied: joblib>=1.0.0 in c:\users\ken bwire\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)

In [8]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\ken bwire\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: scipy in c:\users\ken bwire\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\ken bwire\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [18]:
data=pd.read_csv()
data.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [11]:
data.tail(10)

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
1489,2020-023888,12174728130,01/20/2020 06:58:00 PM,NaN,01/20/2020 08:46:34 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,W,K,K1,DOWNTOWN COMMERCIAL,9XX BLOCK OF 4TH AVE,-122.332583,47.605731
1490,2020-023847,12174725516,01/16/2020 12:00:00 AM,NaN,01/20/2020 08:40:59 PM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,N,U,U1,SANDPOINT,23XX BLOCK OF NE 88TH ST,-122.303733,47.692099
1491,2020-023826,12174728435,01/20/2020 01:40:00 PM,NaN,01/20/2020 08:40:34 PM,A,PROPERTY,LARCENY-THEFT,Theft From Building,23D,S,R,R2,MOUNT BAKER,28XX BLOCK OF RAINIER AVE S,-122.297836,47.577938
1492,2020-023859,12174673344,01/20/2020 06:27:00 PM,NaN,01/20/2020 07:36:19 PM,A,PROPERTY,LARCENY-THEFT,All Other Larceny,23H,N,L,L2,NORTHGATE,112XX BLOCK OF 5TH AVE NE,-122.323349,47.711114
1493,2020-023838,12174651274,01/20/2020 02:30:00 PM,01/20/2020 05:30:00 PM,01/20/2020 06:55:30 PM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,N,B,B2,BALLARD SOUTH,11XX BLOCK OF NW MARKET ST,-122.372174,47.668664
1494,2020-023839,12174626452,01/20/2020 06:07:00 PM,NaN,01/20/2020 06:32:10 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,W,M,M3,DOWNTOWN COMMERCIAL,5XX BLOCK OF PIKE ST,-122.335018,47.610909
1495,2020-023785,12174618231,01/20/2020 04:30:00 PM,NaN,01/20/2020 06:19:50 PM,A,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,23F,W,M,M1,BELLTOWN,19XX BLOCK OF 2ND AVE,-122.341102,47.611349
1496,2020-023781,12174602509,01/20/2020 05:10:00 PM,NaN,01/20/2020 05:57:26 PM,A,PROPERTY,FRAUD OFFENSES,Credit Card/Automated Teller Machine Fraud,26B,SW,F,F3,SOUTH PARK,86XX BLOCK OF 14TH AVE S,-122.314917,47.526016
1497,2020-023762,12174603074,01/20/2020 03:00:00 PM,01/20/2020 05:00:00 PM,01/20/2020 05:53:39 PM,A,PROPERTY,LARCENY-THEFT,Theft From Motor Vehicle,23F,W,D,D1,BELLTOWN,2XX BLOCK OF LENORA ST,-122.342623,47.612834
1498,2020-023666,12174611153,01/20/2020 03:29:00 PM,01/20/2020 03:29:00 PM,01/20/2020 05:49:40 PM,A,PROPERTY,LARCENY-THEFT,Theft From Building,23D,E,E,E2,CAPITOL HILL,10XX BLOCK OF E PIKE ST,-122.318794,47.614090

In [12]:
## Displaying top 10 rows
data.info()
## Showing information about datase
data.describe()
## Showing data's statistical features)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Report Number           1499 non-null   object
 1   Offense ID              1499 non-null   int64
 2   Offense Start DateTime  1499 non-null   object
 3   Offense End DateTime    1139 non-null   object
 4   Report DateTime         1499 non-null   object
 5   Group A B               1499 non-null   object
 6   Crime Against Category  1499 non-null   object
 7   Offense Parent Group    1499 non-null   object
 8   Offense                 1499 non-null   object
 9   Offense Code            1499 non-null   object
 10  Precinct                1499 non-null   object
 11  Sector                  1499 non-null   object
 12  Beat                    1499 non-null   object
 13  MCPP                    1499 non-null   object
 14  100 Block Address       1475 non-null   object
 15  Longitude               1499 non-null   float64
 16  Latitude                1499 non-null   float64
dtypes: float64(2), int64(1), object(14)
memory usage: 199.2+ KB

         Offense ID    Longitude     Latitude
count  1.499000e+03  1499.000000  1499.000000
mean   1.238166e+10  -120.375458    46.859243
std    1.653123e+08    15.360073     5.979514
min    1.217460e+10  -122.414924     0.000000
25%    1.222136e+10  -122.354408    47.590764
50%    1.233854e+10  -122.333200    47.615703
75%    1.259569e+10  -122.315473    47.663118
max    1.260587e+10     0.000000    47.732139

In [16]:
print('Unique values\n',data['SOCIETY'].unique())
print('Value Counts\n',data['sex'].value_counts())
# Above codes will help to give us information about it's unique values and count of each value.

sns.countplot(data=data,x='SOCIETY')
# Helps to plot a count plot which will help us to see count of values in each unique category.
sns.countplot(data=data,x='SOCIETY',hue='MCCP')
# This plot will help to analyze how sex will affect chances of Diagnosis/type of hypertension and Diabetes.

KeyError: 'SOCIETY'

In [ ]:
print('Unique Value\n',data['Location'].unique())
print('Value Counts\n',data['Location'].value_counts())
# Above code will return unique value for Location/cluster/ward/village name attribute and its value counts
sns.countplot(data=data,x='Location')
#Will plot a counter plot of variable Location/Cluster/Ward/Village.

In [ ]:
print('Unique Value\n',data['Education'].unique())
print('Value Counts\n',data['Education'].value_counts())
# Above code will return unique value for Education level attribute and its value counts
sns.countplot(data=data,x='Education')
# Will plot a counter plot of variable Location/Cluster/Ward/Village.

In [ ]:
print('Unique Value\n',data['Frequency of clinic visit'].unique())
print('Value Counts\n',data['Frequency of clinic visit'].value_counts())
# Above code will return unique values of attributes and its count
sns.countplot(data=data,x='Frequency of clinic visit')
# Above code will create a count plot
sns.countplot(data=data,x='Frequency of clinic visit',hue='Diagnosis')
# Above code will create a count plot with respect to Diagnosis/type of hypertension and Diabetes

In [ ]:
print('Unique Values\n',data['Weight'].unique())
print("Value Counts\n",data['Weight'].value_counts())
# Above code will return unique values of variable and its count
sns.countplot(data=data,x='Weight')
# This will create a counter plot
sns.countplot(data=data,x='Weight',hue='Diagnosis')
# Weight with respect to Diagnosis/type of hypertension and Diabetes

In [ ]:
data['BMI'].nunique()
# Number of unique values
sns.displot(data['BMI'])
# Distribution of avg_glucose_level
sns.boxplot(data=data,x='Diagnosis',y='BMI')
# BMI and Diagnosis/type of hypertension and Diabetes

In [ ]:
data['BMI'].isna().sum()
# Returns number null values
data['BMI'].fillna(data['BMI'].mean(),inplace=True)
# Filling null values with average value
data['BMI'].nunique()
# Returns number of unique values in that attribute
sns.displot(data['BMI'])
# Distribution of bmi

In [ ]:
print('Unique Values\n',data['BP Systolic'].unique())
print('Value Counts\n',data['BP Systolic'].value_counts())
# Returns unique values and its count
sns.countplot(data=data,x='BP Systolic')
# Count plot of smoking status
sns.countplot(data=data,x='BP Systolic',hue='Diagnosis')
# BP Systolic with respect to Diagnosis/type of hypertension and Diabetes.

In [ ]:
print('Unique Values\n',data['BP Diastolic'].unique())
print('Value Counts\n',data['BP Diastolic'].value_counts())
# Returns unique values and its count
sns.countplot(data=data,x='BP Diastolic')
# Count plot of BP Diastolic
sns.countplot(data=data,x='BP Diastolic',hue='Diagnosis')
# BP Diastolic with respect to Diagnosis/type of hypertension and Diabetes

In [ ]:
print('Unique Value\n',data['Diagnosis'].unique())
print('Value Counts\n',data['Diagnosis'].value_counts())
# Returns Unique Value and its count
sns.countplot(data=data,x='Diagnosis')
# Count Plot of Diagnosis/type of hypertension and Diabetes

In [ ]:
cols=data.select_dtypes(include=['object']).columns
print(cols)
# This code will fetech columns whose data type is object.
le=LabelEncoder()
# Initializing our Label Encoder object
data[cols]=data[cols].apply(le.fit_transform)
# Transfering categorical data into numeric
print(data.head(10))

In [ ]:
plt.figure(figsize=(12,10))
# seaborn has an easy method to showcase heatmap
p = sns.heatmap(data.corr(), annot=True,cmap ='RdYlGn')

In [ ]:
p = data.hist(figsize = (20,20))

In [ ]:
classifier = SelectKBest(score_func=f_classif,k=5)
fits = classifier.fit(data.drop('Diagnosis',axis=1),data['Diagnosis'])
x=pd.DataFrame(fits.scores_)
columns = pd.DataFrame(data.drop('Diagnosis',axis=1).columns)
fscores = pd.concat([columns,x],axis=1)
fscores.columns = ['Attribute','Score']
fscores.sort_values(by='Score',ascending=False)

# Scaling the Data
Before scaling down the data let’s have a look into it

In [ ]:
data.head()

In [ ]:
# After scaling the data

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc_X = StandardScaler()
X =  pd.DataFrame(sc_X.fit_transform(data.drop(["Diagnosis"],axis = 1),), columns=['sex', 
'Age', 'Location', 'Frequency of clinic visit', 'Education','Weight','BMI', 'BP Diastolic', 'BP Systolic'])
X.head()

In [ ]:
y=data['Diagnosis']
y

# Modelling Building 
Splitting the dataset

In [ ]:
X = data.drop('Diagnosis', axis=1)
y = data['Diagnosis']

#Split the data into training and testing data using the train_test_split function

In [ ]:
from sklearn.model_selection import train_test_split
#Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33,random_state=7)
#Shape of the data
X_train.shape,X_test.shape,y_train.shape,y_test.shape
# Shape of data

# Random Forest
Building the model using Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=200)
#Fit the model
rfc.fit(X_train, y_train)

#Building the model let’s check the accuracy of the model on the training dataset

In [ ]:
print("Here we can see that on the training dataset our model is overfitted.")
rfc_train = rfc.predict(X_train)
from sklearn import metrics

print("Accuracy_Score =", format(metrics.accuracy_score(y_train, rfc_train)))

# Getting the accuracy score for Random Forest

In [ ]:
from sklearn import metrics

predictions = rfc.predict(X_test)
print("Accuracy_Score =", format(metrics.accuracy_score(y_test, predictions)))

# Classification report and confusion matrix of random forest model

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, predictions))
print(classification_report(y_test,predictions))

# Decision Tree
Building the model using DecisionTree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dtree = DecisionTreeClassifier()
dtree.fit(X_train, y_train)

# Getting the accuracy score for Decision Tree

In [ ]:
from sklearn import metrics

predictions = dtree.predict(X_test)
print("Accuracy Score =", format(metrics.accuracy_score(y_test,predictions)))

# Classification report and confusion matrix of the decision tree model

In [ ]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(gamma=0)
xgb_model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, xgb_pred))
print(classification_report(y_test,xgb_pred))

# XgBoost classifier
Building model using XGBoost

# Getting the accuracy score for the XgBoost classifier

In [ ]:
from sklearn import metrics

xgb_pred = xgb_model.predict(X_test)
print("Accuracy Score =", format(metrics.accuracy_score(y_test, xgb_pred)))

# Classification report and confusion matrix of the XgBoost classifier

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, xgb_pred))
print(classification_report(y_test,xgb_pred))

# Support Vector Machine (SVM)
Building the model using Support Vector Machine (SVM)

In [ ]:
from sklearn.svm import SVC

svc_model = SVC()
svc_model.fit(X_train, y_train)

In [ ]:
#Prediction from support vector machine model on the testing data

svc_pred = svc_model.predict(X_test)

In [ ]:
# Accuracy score for SVM

from sklearn import metrics

print("Accuracy Score =", format(metrics.accuracy_score(y_test, svc_pred)))

In [ ]:
# Classification report and confusion matrix of the SVM classifier

from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, svc_pred))
print(classification_report(y_test,svc_pred))

# The Conclusion from Model Building
Therefore Random forest is the best model for this prediction since it has an accuracy_score of 0.73.

# Feature Importance
Knowing about the feature importance is quite necessary as it shows that how much weightage each feature provides in the model building phase.

#Getting feature importances

In [ ]:
rfc.feature_importances_

# Visualization of the same.

In [ ]:
# Plotting feature importances

In [ ]:
(pd.Series(rfc.feature_importances_, index=X.columns).plot(kind='barh'))

# Saving Model Random Forest

In [ ]:
import pickle

# Firstly we will be using the dump() function to save the model using pickle
saved_model = pickle.dumps(rfc)

# Then we will be loading that saved model
rfc_from_pickle = pickle.loads(saved_model)

# lastly, after loading that model we will use this to make predictions
rfc_from_pickle.predict(X_test)

In [ ]:
# This command will basically import all the modules from pycaret that are necessary for classification tasks
from pycaret.classification import *
# Setting up the classifier
# Pass the complete dataset as data and the featured to be predicted as target
clf=setup(data=data,target='Diagnosis')

In [ ]:
data.head(100)

In [ ]:
data.tail()

# The prediction is given by the following ;
0. No Hypertension and Diabetes.
1. Hypertension value.
2. Hypertension and Diabetes
3. Diabetes

In [ ]:
rfc.predict([[0,51,274,0,8,67.0,27.53,91,145]])

In [ ]:
rfc.predict([[0,71,62,0,4,51.0,23.92,66,126]])

In [ ]:
rfc.predict([[0,34,125,0,7,34.98,20.21,98,231]])

In [ ]:
rfc.predict([[1,25,45,0,7,21.34,37.90,72,92]])