In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("C:\pydatafiles\Dropout_Academic Success - Sheet1.csv")
print(data)

     Marital status  Application mode  Application order  Course  \
0                 1                17                  5     171
1                 1                15                  1    9254
2                 1                 1                  5    9070
3                 1                17                  2    9773
4                 2                39                  1    8014
..              ...               ...                ...     ...
994               2                 7                  1    9238
995               1                39                  1    8014
996               1                 1                  3    9500
997               1                44                  1    9085
998               1                17                  1    9254

     Daytime/evening attendance  Previous qualification  \
0                             1                       1
1                             1                       1
2                             1                       1
3                             1                       1
4                             0                       1
..                          ...                     ...
994                           1                       3
995                           0                       1
996                           1                       1
997                           1                      39
998                           1                       1

     Previous qualification (grade)  Nacionality  Mother's qualification  \
0                             122.0            1                      19
1                             160.0            1                       1
2                             122.0            1                      37
3                             122.0            1                      38
4                             100.0            1                      37
..                              ...          ...                     ...
994                           150.0            1                      37
995                           130.0            1                      37
996                           113.0            1                       3
997                           130.0            6                      19
998                           115.0            1                       1

     Father's qualification  Mother's occupation  Father's occupation
0                        12                    5                    9
1                         3                    3                    3
2                        37                    9                    9
3                        37                    5                    3
4                        38                    9                    9
..                      ...                  ...                  ...
994                      37                  191                  192
995                      37                    9                    8
996                       1                  134                  135
997                       1                    6                    4
998                      19                    3                    3

[999 rows x 12 columns]

In [5]:
print("Bartlett test indicates there p_value is less than 0.05. This confirms that the test is statistically significantly and correlation matrix is not identity hence factor analysis can be conducted")
#step 1: Determine Factorability
#(c). Use Barlett_sphericity Test.
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(data)
chi_square_value,p_value

Bartlett test indicates there p_value is less than 0.05. This confirms that the test is statistically significantly and correlation matrix is not identity hence factor analysis can be conducted

(2719.064284917357, 0.0)

In [6]:
from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(data)
print("\n KMO model\n",kmo_model)

 KMO model
 0.5637523361233236